In [1]:
%pwd

'/Users/mac/Library/Mobile Documents/com~apple~CloudDocs/GitHub/sales_data_analysis'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import warnings
warnings.filterwarnings('ignore')

random.seed(0)

# 과제(7/7)

## 아래 가이드에 따라서 고객 구매데이터를 생성하고 아래사항을 수행하세요(관측치 10000개)

거래 번호
- id : 1 ~ 10000번 일련번호 - 개시 후 1만 건의 거래가 있었고 걍 거기에 넘버링한 거라고 이해해보자

고객별 속성 데이터
- cusno : 고객번호 1000개 랜덤
- gender : 0,1 정수 난수 생성
- age : 0 ~ 80사이 정수 난수 생성
- region : 1 ~ 10 사이 정수 난수 생성
    
거래 데이터
- day : 요일
- date : 2020-01-01 ~ 2021-12-31 사이의 날짜 1000개 생성
- time_20 : 01 ~ 24 사이 정수 난수 생성
- time_21 : 01 ~ 24 사이 정수 난수 생성
- product_20 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- product_21 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- price_20 : 1000 ~ 50000 사이 실수 난수 생성
- price_21 : 1000 ~ 50000 사이 실수 난수 생성
- quantity_20 : 1 ~ 100 사이 정수 난수 생성
- quantity_21 : 1 ~ 100 사이 정수 난수 생성
- amount_20 : price_20 * quantity_20
- amount_21 : price_21 * quantity_21
- sales : 20년 대비 21년구매금액이 증가면 1, 감소면 0

거래 번호
- id : 1 ~ 10000번 일련번호 - 개시 후 1만 건의 거래가 있었고 걍 거기에 넘버링한 거라고 이해해보자

고객별 속성 데이터
- cusno : 고객번호 1000개 랜덤
- gender : 0,1 정수 난수 생성
- age : 0 ~ 80사이 정수 난수 생성
- region : 1 ~ 10 사이 정수 난수 생성
    
거래 데이터
- day : 요일
- date : 2020-01-01 ~ 2021-12-31 사이의 날짜 1000개 생성
- time_20 : 01 ~ 24 사이 정수 난수 생성
- time_21 : 01 ~ 24 사이 정수 난수 생성
- product_20 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- product_21 : 고가제품(10), 중가제품(20), 저가제품(30)로 구분제품코드 10,20,30
- price_20 : 1000 ~ 50000 사이 실수 난수 생성
- price_21 : 1000 ~ 50000 사이 실수 난수 생성
- quantity_20 : 1 ~ 100 사이 정수 난수 생성
- quantity_21 : 1 ~ 100 사이 정수 난수 생성
- amount_20 : price_20 * quantity_20
- amount_21 : price_21 * quantity_21
- sales : 20년 대비 21년구매금액이 증가면 1, 감소면 0

## 수행 과제
1. 세부 분류코드 작성:
    - 고가제품: 
    - 중가제품:  
    - 저가제품: 영화/도서, 식자재, 
2. 분류코드별 가격 다시 책정
3. 21-20년도 총 구매 가격 차이 변수 만들기

### Q1. 고객 속성(id, 성별, 연령, 거주지역) 데이터와 거래 데이터를 통합한 데이터 프레임 df를 생성하세요.

#### 고객 속성(id, 성별, 연령, 거주지역) 데이터 만들기

In [3]:
# 고객별 속성 데이터
cusno_c = np.arange(10000, 11000)
# cusno = random.shuffle(cusno)
cusno_c = pd.Series(cusno_c)

gender_c = np.random.randint(0, 2, size=(1000))
gender_c = pd.Series(gender_c)

age_c = np.random.randint(12, 81, size=(1000))
age_c = pd.Series(age_c)

region_c = np.random.randint(0, 10, size=(1000))
region_c = pd.Series(region_c)

index_c = np.arange(0, 1000)
index_c = pd.Series(index_c)

# 회원 등급
grade_20_c = []
grade_20_c = pd.Series(grade_20_c)

grade_21_c = []
grade_21_c = pd.Series(grade_21_c)

# ARPPU: Average Revenue Per Paying User : 구매 회당 평균 결제액
ARPPU_20_c = np.random.randint(1000, 50001, size=(1000))
ARPPU_20_c = pd.Series(ARPPU_20_c)
ARPPU_21_c = np.random.randint(1000, 50001, size=(1000))
ARPPU_21_c = pd.Series(ARPPU_21_c)

# AVC: Annual Visits by Customer : 고객별 연간 방문 획수
AVC_20_c = np.random.randint(1, 366, size=(1000))
AVC_20_c = pd.Series(AVC_20_c)
AVC_21_c = np.random.randint(1, 366, size=(1000))
AVC_21_c = pd.Series(AVC_21_c)

# ASC: Annual Sale by Customer : 고객별 연간 매출액
ASC_20_c = (ARPPU_20_c * AVC_20_c)
ASC_20_c = pd.Series(ASC_20_c)
ASC_21_c = (ARPPU_21_c * AVC_20_c)
ASC_21_c = pd.Series(ASC_21_c)
customer = pd.concat([index_c, cusno_c, gender_c, age_c, region_c, grade_20_c,
                     grade_21_c, ARPPU_20_c, ARPPU_21_c, AVC_20_c, AVC_21_c, ASC_20_c, ASC_21_c], axis=1)
customer.columns = ['index_c', 'cusno_c', 'gender_c', 'age_c', 'region_c', 'grade_20_c',
                    'grade_21_c', 'ARPPU_20_c', 'ARPPU_21_c', 'AVC_20_c', 'AVC_21_c', 'ASC_20_c', 'ASC_21_c']
customer.set_index('index_c', drop=True)
customer.head()

,index_c,cusno_c,gender_c,age_c,region_c,grade_20_c,grade_21_c,ARPPU_20_c,ARPPU_21_c,AVC_20_c,AVC_21_c,ASC_20_c,ASC_21_c
0,0,10000,0,26,1,NaN,NaN,35441,26360,45,210,1594845,1186200
1,1,10001,1,72,9,NaN,NaN,35565,12434,12,200,426780,149208
2,2,10002,0,44,2,NaN,NaN,1459,31143,101,231,147359,3145443
3,3,10003,0,23,7,NaN,NaN,38608,42290,164,190,6331712,6935560
4,4,10004,0,45,8,NaN,NaN,25177,41447,244,79,6143188,10113068

In [4]:
customer['sales_trend'] = 0
customer['sales_trend'][(customer.ASC_21_c > customer.ASC_20_c)] = 1
# customer[(customer.ASC_21_c <= customer.ASC_20_c)].sales_trend = 0

print(customer.sales_trend.value_counts())
customer.head()

1    501
0    499
Name: sales_trend, dtype: int64

,index_c,cusno_c,gender_c,age_c,region_c,grade_20_c,grade_21_c,ARPPU_20_c,ARPPU_21_c,AVC_20_c,AVC_21_c,ASC_20_c,ASC_21_c,sales_trend
0,0,10000,0,26,1,NaN,NaN,35441,26360,45,210,1594845,1186200,0
1,1,10001,1,72,9,NaN,NaN,35565,12434,12,200,426780,149208,0
2,2,10002,0,44,2,NaN,NaN,1459,31143,101,231,147359,3145443,1
3,3,10003,0,23,7,NaN,NaN,38608,42290,164,190,6331712,6935560,1
4,4,10004,0,45,8,NaN,NaN,25177,41447,244,79,6143188,10113068,1

In [5]:
bin_dividers = np.linspace(customer.ASC_20_c.min(), customer.ASC_20_c.max(), 4)
bin_names = ['Silver', 'Gold', 'VIP']  # qcut
customer['grade_20_c'] = pd.cut(x=customer.ASC_20_c,  # 데이터 배열
                                bins=bin_dividers,  # 경계값 리스트
                                labels=bin_names,  # bin 이름
                                include_lowest=True)  # 첫 경계값 포함 여부
bin_dividers = np.linspace(customer.ASC_21_c.min(), customer.ASC_21_c.max(), 4)
bin_names = ['Silver', 'Gold', 'VIP']
customer['grade_21_c'] = pd.cut(x=customer.ASC_21_c,  # 데이터 배열
                                bins=bin_dividers,  # 경계값 리스트
                                labels=bin_names,  # bin 이름
                                include_lowest=True)  # 첫 경계값 포함 여부

customer.head()

,index_c,cusno_c,gender_c,age_c,region_c,grade_20_c,grade_21_c,ARPPU_20_c,ARPPU_21_c,AVC_20_c,AVC_21_c,ASC_20_c,ASC_21_c,sales_trend
0,0,10000,0,26,1,Silver,Silver,35441,26360,45,210,1594845,1186200,0
1,1,10001,1,72,9,Silver,Silver,35565,12434,12,200,426780,149208,0
2,2,10002,0,44,2,Silver,Silver,1459,31143,101,231,147359,3145443,1
3,3,10003,0,23,7,Gold,Gold,38608,42290,164,190,6331712,6935560,1
4,4,10004,0,45,8,Gold,Gold,25177,41447,244,79,6143188,10113068,1

#### 거래 데이터 만들기

In [6]:
# 1. 거래 id 만들기
id_p = np.arange(0, 10000)
id_p = pd.Series(id_p)

# 2. 중복 cusno 만들기
# 기존 cusno가 중복될 수 있도록 만들기
cusno_p = np.random.randint(10000, 11000, size=10000)
cusno_p = pd.Series(cusno_p)
# 3. 기본거래 데이터 만들기
# product = np.random.choice([10,20,30],size=10000)
product_20_p = [random.randrange(10, 40, 10) for i in range(10000)]
product_20_p = pd.Series(product_20_p)
product_21_p = [random.randrange(10, 40, 10) for i in range(10000)]
product_21_p = pd.Series(product_21_p)
price_20_p = np.random.uniform(1000, 50000, size=10000).round(2)
price_20_p = pd.Series(price_20_p)
price_21_p = np.random.uniform(1000, 50000, size=10000).round(2)
price_21_p = pd.Series(price_21_p)
quantity_20_p = np.random.randint(1, 100, size=10000)
quantity_20_p = pd.Series(quantity_20_p)
quantity_21_p = np.random.randint(1, 100, size=10000)
quantity_21_p = pd.Series(quantity_21_p)
amount_20_p = price_20_p*quantity_20_p
amount_20_p = pd.Series(amount_20_p)
amount_21_p = price_21_p*quantity_21_p
amount_21_p = pd.Series(amount_21_p)

purchase = pd.concat([id_p, cusno_p, product_20_p, product_21_p, price_20_p, price_21_p,
                     quantity_20_p, quantity_21_p, amount_20_p, amount_21_p], axis=1)
purchase.columns = ['id_p', 'cusno_p', 'product_20_p', 'product_21_p', 'price_20_p', 'price_21_p',
                    'quantity_20_p', 'quantity_21_p', 'amount_20_p', 'amount_21_p']

purchase.set_index('id_p', inplace=True)

purchase

,cusno_p,product_20_p,product_21_p,price_20_p,price_21_p,quantity_20_p,quantity_21_p,amount_20_p,amount_21_p
id_p,,,,,,,,,
0,10411,20,10,45585.36,16623.89,28,94,1276390.08,1562645.66
1,10570,20,20,28287.82,12970.18,28,39,792058.96,505837.02
2,10835,10,10,1658.16,48115.60,85,7,140943.60,336809.20
3,10188,20,10,15350.39,11995.14,1,14,15350.39,167931.96
4,10029,30,20,17306.58,48549.79,32,61,553810.56,2961537.19
...,...,...,...,...,...,...,...,...,...
9995,10862,20,30,34040.89,7794.20,84,79,2859434.76,615741.80
9996,10069,10,30,16300.30,14905.04,49,66,798714.70,983732.64
9997,10011,10,20,8704.76,21559.22,24,59,208914.24,1271993.98
9998,10686,30,30,28231.22,49985.98,12,94,338774.64,4698682.12
9999,10922,10,30,42998.72,2792.08,66,89,2837915.52,248495.12

In [7]:
# 날짜거래 데이터프레임 만들기

# 1.date
# 랜덤 선택을 위한 date 리스트
date_list = list(pd.date_range('2020-01-01', '2021-12-31', freq='D'))

purchase['date'] = np.random.choice(date_list, size=10000)

# 2. day(요일)
purchase['day'] = purchase['date'].apply(
    lambda x: x.weekday())  # date별 요일을 숫자로 나타냄
purchase['day'] = purchase['day'].replace(
    [0, 1, 2, 3, 4, 5, 6], ['월', '화', '수', '목', '금', '토', '일'])

# 3. 시간
purchase['time'] = np.random.randint(7, 24, size=10000)

purchase.head()

,cusno_p,product_20_p,product_21_p,price_20_p,price_21_p,quantity_20_p,quantity_21_p,amount_20_p,amount_21_p,date,day,time
id_p,,,,,,,,,,,,
0,10411,20,10,45585.36,16623.89,28,94,1276390.08,1562645.66,2021-02-27,토,23
1,10570,20,20,28287.82,12970.18,28,39,792058.96,505837.02,2020-04-21,화,19
2,10835,10,10,1658.16,48115.60,85,7,140943.60,336809.20,2021-03-10,수,18
3,10188,20,10,15350.39,11995.14,1,14,15350.39,167931.96,2020-08-07,금,16
4,10029,30,20,17306.58,48549.79,32,61,553810.56,2961537.19,2021-09-05,일,18

#### 고객데이터 거래 데이터 통합하기

In [8]:
df = customer.merge(purchase, left_on=cusno_c, right_on=cusno_p, how='outer')
df

,key_0,index_c,cusno_c,gender_c,age_c,region_c,grade_20_c,grade_21_c,ARPPU_20_c,ARPPU_21_c,...,product_21_p,price_20_p,price_21_p,quantity_20_p,quantity_21_p,amount_20_p,amount_21_p,date,day,time
0,10000,0,10000,0,26,1,Silver,Silver,35441,26360,...,20,33873.63,15463.96,3,89,101620.89,1376292.44,2020-07-30,목,8
1,10000,0,10000,0,26,1,Silver,Silver,35441,26360,...,10,37269.67,35550.71,98,59,3652427.66,2097491.89,2020-12-11,금,18
2,10000,0,10000,0,26,1,Silver,Silver,35441,26360,...,10,18479.18,23532.88,61,82,1127229.98,1929696.16,2020-07-25,토,10
3,10000,0,10000,0,26,1,Silver,Silver,35441,26360,...,30,12615.32,17850.37,29,99,365844.28,1767186.63,2021-05-13,목,21
4,10000,0,10000,0,26,1,Silver,Silver,35441,26360,...,20,3397.25,25397.55,65,31,220821.25,787324.05,2021-01-25,월,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10999,999,10999,1,44,0,Silver,Silver,5978,30730,...,20,43409.67,9695.01,93,8,4037099.31,77560.08,2020-06-06,토,7
9996,10999,999,10999,1,44,0,Silver,Silver,5978,30730,...,10,31566.92,15867.08,33,32,1041708.36,507746.56,2020-06-19,금,14
9997,10999,999,10999,1,44,0,Silver,Silver,5978,30730,...,10,45975.19,21942.00,17,52,781578.23,1140984.00,2020-09-05,토,19
9998,10999,999,10999,1,44,0,Silver,Silver,5978,30730,...,20,47318.51,19293.53,82,79,3880117.82,1524188.87,2021-04-04,일,11
9999,10999,999,10999,1,44,0,Silver,Silver,5978,30730,...,10,13011.31,36542.02,44,16,572497.64,584672.32,2021-02-26,금,23

In [9]:
df = df.drop(columns=['index_c', 'key_0', 'cusno_p'])
df

,cusno_c,gender_c,age_c,region_c,grade_20_c,grade_21_c,ARPPU_20_c,ARPPU_21_c,AVC_20_c,AVC_21_c,...,product_21_p,price_20_p,price_21_p,quantity_20_p,quantity_21_p,amount_20_p,amount_21_p,date,day,time
0,10000,0,26,1,Silver,Silver,35441,26360,45,210,...,20,33873.63,15463.96,3,89,101620.89,1376292.44,2020-07-30,목,8
1,10000,0,26,1,Silver,Silver,35441,26360,45,210,...,10,37269.67,35550.71,98,59,3652427.66,2097491.89,2020-12-11,금,18
2,10000,0,26,1,Silver,Silver,35441,26360,45,210,...,10,18479.18,23532.88,61,82,1127229.98,1929696.16,2020-07-25,토,10
3,10000,0,26,1,Silver,Silver,35441,26360,45,210,...,30,12615.32,17850.37,29,99,365844.28,1767186.63,2021-05-13,목,21
4,10000,0,26,1,Silver,Silver,35441,26360,45,210,...,20,3397.25,25397.55,65,31,220821.25,787324.05,2021-01-25,월,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10999,1,44,0,Silver,Silver,5978,30730,154,250,...,20,43409.67,9695.01,93,8,4037099.31,77560.08,2020-06-06,토,7
9996,10999,1,44,0,Silver,Silver,5978,30730,154,250,...,10,31566.92,15867.08,33,32,1041708.36,507746.56,2020-06-19,금,14
9997,10999,1,44,0,Silver,Silver,5978,30730,154,250,...,10,45975.19,21942.00,17,52,781578.23,1140984.00,2020-09-05,토,19
9998,10999,1,44,0,Silver,Silver,5978,30730,154,250,...,20,47318.51,19293.53,82,79,3880117.82,1524188.87,2021-04-04,일,11
9999,10999,1,44,0,Silver,Silver,5978,30730,154,250,...,10,13011.31,36542.02,44,16,572497.64,584672.32,2021-02-26,금,23

In [10]:
# age 범주화

def age_category(x):
    y = 0
    if x < 20:
        y = '10'
    elif x < 30:
        y = '20'
    elif x < 40:
        y = '30'
    elif x < 50:
        y = '40'
    elif x < 60:
        y = '50'
    else:
        y = '60'
    return y


df['age_c'] = df['age_c'].apply(age_category)
df

,cusno_c,gender_c,age_c,region_c,grade_20_c,grade_21_c,ARPPU_20_c,ARPPU_21_c,AVC_20_c,AVC_21_c,...,product_21_p,price_20_p,price_21_p,quantity_20_p,quantity_21_p,amount_20_p,amount_21_p,date,day,time
0,10000,0,20,1,Silver,Silver,35441,26360,45,210,...,20,33873.63,15463.96,3,89,101620.89,1376292.44,2020-07-30,목,8
1,10000,0,20,1,Silver,Silver,35441,26360,45,210,...,10,37269.67,35550.71,98,59,3652427.66,2097491.89,2020-12-11,금,18
2,10000,0,20,1,Silver,Silver,35441,26360,45,210,...,10,18479.18,23532.88,61,82,1127229.98,1929696.16,2020-07-25,토,10
3,10000,0,20,1,Silver,Silver,35441,26360,45,210,...,30,12615.32,17850.37,29,99,365844.28,1767186.63,2021-05-13,목,21
4,10000,0,20,1,Silver,Silver,35441,26360,45,210,...,20,3397.25,25397.55,65,31,220821.25,787324.05,2021-01-25,월,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10999,1,40,0,Silver,Silver,5978,30730,154,250,...,20,43409.67,9695.01,93,8,4037099.31,77560.08,2020-06-06,토,7
9996,10999,1,40,0,Silver,Silver,5978,30730,154,250,...,10,31566.92,15867.08,33,32,1041708.36,507746.56,2020-06-19,금,14
9997,10999,1,40,0,Silver,Silver,5978,30730,154,250,...,10,45975.19,21942.00,17,52,781578.23,1140984.00,2020-09-05,토,19
9998,10999,1,40,0,Silver,Silver,5978,30730,154,250,...,20,47318.51,19293.53,82,79,3880117.82,1524188.87,2021-04-04,일,11
9999,10999,1,40,0,Silver,Silver,5978,30730,154,250,...,10,13011.31,36542.02,44,16,572497.64,584672.32,2021-02-26,금,23

In [11]:
df_1 = df.copy()

df_1.grade_20_c.replace({'VIP': 0, 'Gold': 1, 'Silver': 2}, inplace=True)
df_1.grade_21_c.replace({'VIP': 0, 'Gold': 1, 'Silver': 2}, inplace=True)
df_1

,cusno_c,gender_c,age_c,region_c,grade_20_c,grade_21_c,ARPPU_20_c,ARPPU_21_c,AVC_20_c,AVC_21_c,...,product_21_p,price_20_p,price_21_p,quantity_20_p,quantity_21_p,amount_20_p,amount_21_p,date,day,time
0,10000,0,20,1,2,2,35441,26360,45,210,...,20,33873.63,15463.96,3,89,101620.89,1376292.44,2020-07-30,목,8
1,10000,0,20,1,2,2,35441,26360,45,210,...,10,37269.67,35550.71,98,59,3652427.66,2097491.89,2020-12-11,금,18
2,10000,0,20,1,2,2,35441,26360,45,210,...,10,18479.18,23532.88,61,82,1127229.98,1929696.16,2020-07-25,토,10
3,10000,0,20,1,2,2,35441,26360,45,210,...,30,12615.32,17850.37,29,99,365844.28,1767186.63,2021-05-13,목,21
4,10000,0,20,1,2,2,35441,26360,45,210,...,20,3397.25,25397.55,65,31,220821.25,787324.05,2021-01-25,월,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10999,1,40,0,2,2,5978,30730,154,250,...,20,43409.67,9695.01,93,8,4037099.31,77560.08,2020-06-06,토,7
9996,10999,1,40,0,2,2,5978,30730,154,250,...,10,31566.92,15867.08,33,32,1041708.36,507746.56,2020-06-19,금,14
9997,10999,1,40,0,2,2,5978,30730,154,250,...,10,45975.19,21942.00,17,52,781578.23,1140984.00,2020-09-05,토,19
9998,10999,1,40,0,2,2,5978,30730,154,250,...,20,47318.51,19293.53,82,79,3880117.82,1524188.87,2021-04-04,일,11
9999,10999,1,40,0,2,2,5978,30730,154,250,...,10,13011.31,36542.02,44,16,572497.64,584672.32,2021-02-26,금,23

In [12]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

# 독립변수, 종속 변수 분리
X = df_1[['gender_c', 'age_c', 'region_c', 'ARPPU_20_c',
          'AVC_20_c', 'AVC_21_c', 'amount_20_p']]
y = df_1['sales_trend']

# 학습용 테이터와 평가용 데이터를 8:2로 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=10)
print(X_train.shape)
print(X_test.shape)

(8000, 7)
(2000, 7)

In [13]:
# Decision Tree
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, y_train)
dt_pred = dt_model.predict(X_test)

print(dt_pred[0:10])
print(y_test.values[0:10])

accuracy = accuracy_score(y_test, dt_pred)
print('dt 예측 정확도 :', accuracy)

[1 0 0 1 1 1 1 0 1 0]
[1 0 0 1 1 1 1 0 1 0]
dt 예측 정확도 : 0.9995

In [14]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)

rf_accuracy = accuracy_score(y_test, rf_pred)
print('rf 예측 정확도 :', rf_accuracy)

rf 예측 정확도 : 1.0

In [15]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

lr_model = LogisticRegression(random_state=0)
lr_model.fit(X_train, y_train)
lr_pred = lr_model.predict(X_test)

lr_accuracy = accuracy_score(y_test, lr_pred)
print('lr 예측 정확도 :', accuracy)

lr 예측 정확도 : 0.9995

In [31]:
%pwd

'/Users/mac/Library/Mobile Documents/com~apple~CloudDocs/GitHub/sales_data_analysis'

# 인사이트(중앙 편의점)
1. 소비 트랜드 만들기 
    - 1 지역 젊은 여상들의 고가품 소비 증가 경향
    - 5 지역 고령 남성들의 저가품 소비 증가 경향
    - 인당 평균 소비량 감소
    - 
       |지역|소득|컨셉|연령분포|소득시간|
       |-|-|-|-|-|
       | 1지역 | 2억 | 부촌 |고령남여+ 젊은여|일과시간 소비|
       | 2지역 | 1억 | 위성신도시 |신혼 부부 + 어린 자녀|오전,주말에 증가| 
       | 3지역 | 5천 | 직장가 |30~50대 생상가능인구|점심시간,저녁, 주말 전무| 
       | 4지역 | 1천 | 대학가 |20대|점심시간, 저녁, 주말 전무|
       | 5지역 | 3천 | 빈민가 |노년층|밤 늦게|
      - 소득은 정규분포로 데이터 입력
1. 트랜드 분석
    - 평균 1회 결제 금액이 큰 고객을 더 유치하기위한 마케팅 계획 수립을 위한 분석
    - 최근 변화한 소비 트렌드에 가장 민감하게 반응한 소득별 계층 분석
    - 
4. 추가할 컬럼
    고객
        - *고객 번호, *성별, *지역, 등급, *나이, 20년 총 소비금액, 21년 총 소비금액, *소득, 거래당 평균 결제 금액, 연간 방문 횟수
    상품
        - *상품 코드, *가격, 고가 중가 저가 여부
    거래
        - 거래 번호, *고객 변호, *상품코드, *수량, *날짜

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import warnings
warnings.filterwarnings('ignore')

random.seed(0)

## 고객 데이터 만들기

In [27]:
# 고객 번호
cusno = np.arange(10000, 11000)
cusno = pd.Series(cusno)

# 성별
gender = np.random.randint(0, 2, size=(1000))
gender = pd.Series(gender)

# 연령
# age = np.random.randint(7, 81, size=(1000))
age =[]
age = pd.Series(age)

# 거주 지역
# region = np.random.randint(1, 6, size=(1000))
a = np.random.randint(1,2, size=6500).tolist()
b = np.random.randint(2,3, size=2500).tolist()
c = np.random.randint(3,4, size=1000).tolist()
d = np.random.randint(4,5, size=6500).tolist()
e = np.random.randint(5,6, size=2500).tolist()
li = a+b+c
random.shuffle(li)
quantity = li
quantity = pd.Series(quantity)
region = pd.Series(region)

# 소득
# income = np.random.randint(10000, 1000000, size=(1000))\
income = []
income = pd.Series(income)

# 회원 등급
grade_20 = []
grade_20 = pd.Series(grade_20)

grade_21 = []
grade_21 = pd.Series(grade_21)

# ARPPU: Average Revenue Per Paying User : 구매 회당 평균 결제액
ARPPU_20 = []
ARPPU_20 = pd.Series(ARPPU_20)
ARPPU_21 = []
ARPPU_21 = pd.Series(ARPPU_21)

# AVC: Annual Visits by Customer : 고객별 연간 방문 획수
AVC_20 = []
AVC_20 = pd.Series(AVC_20)
AVC_21 = []
AVC_21 = pd.Series(AVC_21)

# ASC: Annual Sale by Customer : 고객별 연간 매출액
ASC_20 = (ARPPU_20 * AVC_20)
ASC_20 = pd.Series(ASC_20)
ASC_21 = (ARPPU_21 * AVC_20)
ASC_21 = pd.Series(ASC_21)
customer = pd.concat([cusno, gender, age, region, income, grade_20, grade_21, ARPPU_20, ARPPU_21, AVC_20, AVC_21, ASC_20, ASC_21], axis=1)
customer.columns = ['cusno', 'gender', 'age', 'region', 'income', 'grade_20', 'grade_21', 'ARPPU_20', 'ARPPU_21', 'AVC_20', 'AVC_21', 'ASC_20', 'ASC_21']
# customer.set_index('index', drop=True)
customer

,cusno,gender,age,region,income,grade_20,grade_21,ARPPU_20,ARPPU_21,AVC_20,AVC_21,ASC_20,ASC_21
0,10000,1,71,1,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,0,27,2,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10002,1,34,1,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10003,0,59,1,126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10004,1,69,4,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10995,0,66,4,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,10996,0,74,4,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,10997,1,34,4,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,10998,0,32,3,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,10999,1,37,2,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 상품 목록 만들기

In [29]:
# 상품 정보 

# 상품 코드
product_num = np.arange(1, 101)
product_num = pd.Series(product_num)

price = random.sample(list(range(1000, 100000)), 100)
price = pd.Series(price)

price_grade = []
price_grade = pd.Series(price_grade)

product = pd.concat([product_num, price, price_grade], axis=1)
product.columns = ['product_num', 'price', 'price_grade']

product = product.set_index('product_num')

product

             price  price_grade
product_num
1            50029          NaN
2            28274          NaN
3            78687          NaN
4            90499          NaN
5            57515          NaN
...            ...          ...
96           75232          NaN
97            4842          NaN
98           52177          NaN
99            5967          NaN
100          19064          NaN

[100 rows x 2 columns]

### price_garde 범주화

In [30]:
# price_grade : 고가품 : 1, 중가품 : 2, 저가품 : 3

def price_grade(x):
    y = 0
    if x <= 20000:
        y = '3'
    elif x <= 50000:
        y = '2'
    else:
        y = '1'
    return y


product['price_grade'] = product['price'].apply(price_grade)
product

             price price_grade
product_num
1            50029           1
2            28274           2
3            78687           1
4            90499           1
5            57515           1
...            ...         ...
96           75232           1
97            4842           3
98           52177           1
99            5967           3
100          19064           3

[100 rows x 2 columns]

## 거래 데이터 만들기

In [22]:
# 1. 거래 번호 만들기
ts_num = np.arange(0, 10000)
ts_num = pd.Series(ts_num)

# 2. 중복 cusno 만들기
# 기존 cusno가 중복될 수 있도록 만들기
ts_cusno = np.random.choice(list(cusno), size=10000)
ts_cusno = pd.Series(ts_cusno)

# 3. 수량
a = np.random.randint(1,4, size=6500).tolist()
b = np.random.randint(4,7, size=2500).tolist()
c = np.random.randint(7,10, size=1000).tolist()
li = a+b+c
random.shuffle(li)
quantity = li
quantity = pd.Series(quantity)

#4. 날짜
# date
date_list = list(pd.date_range('2020-01-01', '2021-12-31', freq='H'))
date = np.random.choice(date_list, size=10000)
date = pd.Series(date)

# day(요일)
day = date.map(lambda x: x.weekday())  # date별 요일을 숫자로 나타냄
day

# 시간
time = date.map(lambda x: x.hour)
time

purchase = pd.concat([ts_num, ts_cusno, quantity, date, time, day], axis=1)
purchase.columns = ['ts_num', 'ts_cusno', 'quantity', 'date', 'time', 'day']

purchase = purchase.set_index('ts_num')

purchase

        ts_cusno  quantity                date  time  day
ts_num
0          10145         1 2020-03-03 14:00:00    14    1
1          10507         3 2020-09-22 19:00:00    19    1
2          10734         3 2021-06-17 12:00:00    12    3
3          10611         3 2021-04-28 19:00:00    19    2
4          10280         3 2020-12-31 17:00:00    17    3
...          ...       ...                 ...   ...  ...
9995       10820         3 2021-10-11 07:00:00     7    0
9996       10473         3 2021-07-08 08:00:00     8    3
9997       10509         2 2021-02-12 08:00:00     8    4
9998       10204         6 2020-05-10 05:00:00     5    6
9999       10258         2 2021-09-18 18:00:00    18    5

[10000 rows x 5 columns]

## DataFrame 확인

In [23]:
customer

,cusno,gender,age,region,income,grade_20,grade_21,ARPPU_20,ARPPU_21,AVC_20,AVC_21,ASC_20,ASC_21
0,10000,0,50,2,117,Silver,Silver,17650,36357,3,256,52950,109071
1,10001,0,62,4,132,Silver,Silver,24528,9357,21,10,515088,196497
2,10002,1,74,1,128,Gold,VIP,24391,45691,283,267,6902653,12930553
3,10003,0,48,1,96,Gold,Gold,46851,39701,197,20,9229647,7821097
4,10004,0,73,2,49,Silver,Silver,16667,1934,94,173,1566698,181796
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10995,1,27,1,129,VIP,Silver,43102,11863,281,92,12111662,3333503
996,10996,0,18,1,67,Silver,Gold,17427,46541,223,299,3886221,10378643
997,10997,1,72,5,44,Silver,Silver,33053,24545,47,324,1553491,1153615
998,10998,0,7,2,85,Silver,Silver,2040,25368,237,176,483480,6012216
999,10999,0,70,4,74,Silver,Gold,4687,26500,318,136,1490466,8427000

In [24]:
product

    product_num  price price_grade
0             1  51494           1
1             2  56125           1
2             3   6306           3
3             4  34936           2
4             5  68013           1
..          ...    ...         ...
95           96  25100           2
96           97  25823           2
97           98  25475           2
98           99   5321           3
99          100  81317           1

[100 rows x 3 columns]

In [25]:
purchase

        ts_cusno  quantity                date  time  day
ts_num
0          10145         1 2020-03-03 14:00:00    14    1
1          10507         3 2020-09-22 19:00:00    19    1
2          10734         3 2021-06-17 12:00:00    12    3
3          10611         3 2021-04-28 19:00:00    19    2
4          10280         3 2020-12-31 17:00:00    17    3
...          ...       ...                 ...   ...  ...
9995       10820         3 2021-10-11 07:00:00     7    0
9996       10473         3 2021-07-08 08:00:00     8    3
9997       10509         2 2021-02-12 08:00:00     8    4
9998       10204         6 2020-05-10 05:00:00     5    6
9999       10258         2 2021-09-18 18:00:00    18    5

[10000 rows x 5 columns]

## 데이터 가공

1. 소비 트랜드 만들기 
    - 1 지역 젊은 여상들의 고가품 소비 증가 경향
    - 5 지역 고령 남성들의 저가품 소비 증가 경향
    - 인당 평균 소비량 감소
    - 
       |지역|소득|컨셉|연령분포|소득시간|
       |-|-|-|-|-|
       | 1지역 | 2억 | 부촌 |고령 + 청년|일과시간 소비|
       | 2지역 | 1억 | 위성신도시 |신혼 부부 + 어린 자녀|오전,주말에 증가| 
       | 3지역 | 5천 | 직장가 |30~50대 생상가능인구|점심시간,저녁, 주말 전무| 
       | 4지역 | 1천 | 대학가 |20대|점심시간, 저녁, 주말 전무|
       | 5지역 | 3천 | 빈민가 |노년층|밤 늦게|
      - 소득은 정규분포로 데이터 입력

## 종속변수 처리

In [28]:
# 고객 등급 선정
bin_dividers = np.linspace(customer.ASC_20.min(), customer.ASC_20.max(), 4)
bin_names = ['Silver', 'Gold', 'VIP']  # qcut
customer['grade_20'] = pd.cut(x=customer.ASC_20,  # 데이터 배열
                                bins=bin_dividers,  # 경계값 리스트
                                labels=bin_names,  # bin 이름
                                include_lowest=True)  # 첫 경계값 포함 여부
bin_dividers = np.linspace(customer.ASC_21.min(), customer.ASC_21.max(), 4)
bin_names = ['Silver', 'Gold', 'VIP']
customer['grade_21'] = pd.cut(x=customer.ASC_21,  # 데이터 배열
                                bins=bin_dividers,  # 경계값 리스트
                                labels=bin_names,  # bin 이름
                                include_lowest=True)  # 첫 경계값 포함 여부

customer.head()

ValueError: Bin edges must be unique: array([nan, nan, nan, nan]).
You can drop duplicate edges by setting the 'duplicates' kwarg

In [ ]:
# 거래당 평균 결제 금액
customer['ARPPU_20'] =